<?xml version='1.0' encoding='utf-8'?>
<widget id="com.terence.qr_code_scanner" 
	version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Qr Code Scanner</name>
    <description>QR Code Scanner By Terence Lee</description>
    
	<author email="sample-email@email.com" href="https://cordova.apache.org">
        Terence Lee 
    </author>
	
    <content src="index.html" />
	<icon src="./icons/app-icon.png" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
